[cache]
enabled = True
{% if kolla_caching_backend == "redis" %}
backend = dogpile.cache.redis
backend_argument = url:redis://default:{{ redis_master_password }}@{{ api_interface_address }}:{{ redis_port }}
{% else %}
backend = oslo_cache.memcache_pool
memcache_servers = {% for host in groups['memcached'] %}{{ 'api' | kolla_address(host) | put_address_in_context('memcache') }}:{{ memcached_port }}{% if not loop.last %},{% endif %}{% endfor %}
{% endif %}
