[cache]
enabled = "{{ 'True' if oslo_cache_enabled | bool else 'False' }}"
backend = {{ oslo_cache_backend }}
{% if oslo_cache_backend_argument | length %}
backend_argument = {{ oslo_cache_backend_argument }}
{% endif %}
{% if oslo_cache_memcache_servers | length %}
memcache_servers = {{ oslo_cache_memcache_servers }}
{% endif %}
