{
    "command": "ovs_wrapper ovs-vswitchd unix:/run/openvswitch/db.sock -vconsole:emer -vsyslog:err -vfile:info --mlockall --log-file=/var/log/kolla/openvswitch/ovs-vswitchd.log --pidfile",
    "config_files": [
        {% if neutron_ovs_use_certificates %}{
            "source": "{{ container_config_directory }}/root.pem",
            "dest": "/etc/openvswitch/root.pem",
            "owner": "root",
            "perm": "0660"
        },
        {
            "source": "{{ container_config_directory }}/cert.pem",
            "dest": "/etc/openvswitch/cert.pem",
            "owner": "root",
            "perm": "0660"
        },
        {
            "source": "{{ container_config_directory }}/key.pem",
            "dest": "/etc/openvswitch/key.pem",
            "owner": "root",
            "perm": "0660"
        }{% endif %}
    ]
}
