{
    "command": "start-ovs-ipsec",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/start-ovs-ipsec",
            "dest": "/usr/local/bin/start-ovs-ipsec",
            "owner": "root",
            "perm": "0655"
        }
    ]
}
