#!/usr/bin/env bash

# Check configuration file
/usr/libexec/ipsec/addconn --config /etc/ipsec.conf --checkconfig
# Check for kernel modules
/usr/libexec/ipsec/_stackmanager start
# Check for nss database status and migration
/usr/sbin/ipsec --checknss
# Check for nflog setup
/usr/sbin/ipsec --checknflog
# Start ipsec
/usr/libexec/ipsec/pluto --leak-detective --config /etc/ipsec.conf --nofork
