{
    "command": "heat-engine",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/heat.conf",
            "dest": "/etc/heat/heat.conf",
            "owner": "heat",
            "perm": "0600"
        }{% if heat_policy_file is defined %},
        {
            "source": "{{ container_config_directory }}/{{ heat_policy_file }}",
            "dest": "/etc/heat/{{ heat_policy_file }}",
            "owner": "heat",
            "perm": "0600"
        }{% endif %}
        {% if redis_enable_tls | bool %},
        {% if not redis_tls_use_openstack_ca | bool%}
        {
            "source": "{{ container_config_directory }}/ca-certificates/{{ redis_tls_cafile }}",
            "dest": "{{ redis_tls_container_path ~ '/' ~ redis_tls_cafile }}",
            "owner": "heat",
            "perm": "0600"
        },
        {% endif %}
        {
            "source": "{{ container_config_directory }}/redis-cert.pem",
            "dest": "{{ redis_tls_container_path ~ '/' ~ redis_tls_certfile }}",
            "owner": "heat",
            "perm": "0600"
        },
        {
            "source": "{{ container_config_directory }}/redis-key.pem",
            "dest": "{{ redis_tls_container_path ~ '/' ~ redis_tls_keyfile }}",
            "owner": "heat",
            "perm": "0600"
        }{% endif %}
    ],
    "permissions": [
        {
            "path": "/var/log/kolla/heat",
            "owner": "heat:heat",
            "recurse": true
        }
    ]
}
