{
    "command": "redis-server {{ redis_conf_path }}",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/redis.conf",
            "dest": "{{ redis_conf_path }}",
            "owner": "redis",
            "perm": "0600"
        }
        {% if redis_enable_tls | bool %},
        {% if not redis_tls_use_openstack_ca | bool%}
        {
            "source": "{{ container_config_directory }}/ca-certificates/{{ redis_tls_cafile }}",
            "dest": "{{ redis_tls_container_path ~ '/' ~ redis_tls_cafile }}",
            "owner": "redis",
            "perm": "0600"
        },
        {% endif %}
        {
            "source": "{{ container_config_directory }}/redis-cert.pem",
            "dest": "{{ redis_tls_container_path ~ '/' ~ redis_tls_certfile }}",
            "owner": "redis",
            "perm": "0600"
        },
        {
            "source": "{{ container_config_directory }}/redis-key.pem",
            "dest": "{{ redis_tls_container_path ~ '/' ~ redis_tls_keyfile }}",
            "owner": "redis",
            "perm": "0600"
        }{% endif %}
    ],
    "permissions": [
        {
            "path": "/var/log/kolla/redis",
            "owner": "redis:redis",
            "recurse": true
        }
    ]
}
