[ req ]
prompt = no
distinguished_name = req_distinguished_name
req_extensions = v3_req

[ req_distinguished_name ]
countryName = US
stateOrProvinceName = NC
localityName = RTP
organizationalUnitName = kolla
commonName = {{ hostvars[item].ansible_facts['hostname'] }}

[ v3_req ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = {{ hostvars[item].ansible_facts['hostname'] }}